@import url('https://fonts.cdnfonts.com/css/work-sans');
@import url('https://fonts.cdnfonts.com/css/staatliches-2');

$p: 'Staatliches'; 

/*





SPLASH SECTION STYLING




*/ 

#splashCont {
    margin:auto; 
}
#header, #footer {
    display:flex;
    flex-direction:row-reverse;
    justify-content: space-around;
    background:#006400; 
    height:180px; 
}
.socials {
    display:flex;
    flex-direction:column; 
}
.sRow {
    display:flex;
    flex-direction:row; 
    justify-content: flex-end;
    width:auto; 
}
.sCol {
    display:flex;
    flex-direction:column;
    border: 1px solid black;

}
.sRow a {
    padding:5px 0px 0px 50px; 
}
.sCol button {
    width: 100%;
}
.title {
    display:flex; 
    flex-direction:row; 
}
.title h1, #serviceCont h1, #footer h1 {
    font-family:'Staatliches', sans-serif; 
    color:#CCFF33; 
    font-size:62px; 
}
.title img {
    width: 256px;
    height: 256px;
}
.icons {
    font-size:44px; 
    margin:5px; 
}
.cta {
    margin:8.5% auto 0; 
    width:80%;
}
.cta h1, .before-after h1{
    color:#006400;
    font-family:'Staatliches', sans-serif; 
}

.cta h3 {
    color:black;
    font-family:'Work Sans', sans-serif; 
}
.slideBox {
    height:fit-content;
    width:47.5%; 
    margin:0 1.25%; 
    border-radius:10px; 
    text-align:center;
    box-shadow:0 0 5px black; 
}
.slideBox img {
    max-width: 100%;
    max-height:auto; 
    border-radius:10px; 
}
.slideshow {
    align-content:center; 
    margin:0 7.5%; 
    display:flex;
    flex-direction:row;
}
.before-after {
    display:flex;
    flex-direction:row;
    width:80%;
    margin:0 auto; 
    justify-content:space-between;
}
.before-after h1 {
    font-size: 46px;
}
.before-after div {
    
    display:flex;
    justify-content: flex-start;
    width:50%; 
    text-align: center;
    justify-content: center;
}
.carouselExampleFade {
    margin-top: 0;
    padding-top: 0;
}
.testimonials h3 {
    margin:25px 0; 
    font-style: italic;
}
/*





SERVICE SEC STYLING





*/
#serviceCont {
    background:#006400; 
    padding:2.5% 10%; 
}
#serHolder {
    display:flex;
    flex-direction:row;
    width:90%; 
    justify-content: center;
    margin:0 auto; 
}
#serHolder li {
    font-family:'Work Sans', sans-serif;
    color:white; 
    font-size:22px; 
}
.serBox {
    width:100%;  
    margin:1%; 
}
/*



CONTACT FORM STYLING




*/
.cContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    background: rgb(40, 40, 40);
    padding: 50px 5% 50px;
}

#contact {
    align-self: center;
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #006400;
    font-size: 14px;
    border:3px solid #006400;
    border-radius: 15px;
    margin:25px auto; 
    box-shadow:10px 10px 5px rgb(64, 63, 63);
}

label {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
    font-family: 'Work Sans', sans-serif;
}

input {
    padding: 10px;

}

#note {
    margin-bottom: 40px;
}

#contact h1 {
    font-family: 'Staatliches', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 44px;
    color: #006400;
   
}
#contact button {
    width:100%;
    background:none;
    border:none;
    height:100%; 
    padding:24px; 
    color:#006400; 

    
}


.cInput {
    display:flex;
    flex-direction:column; 
}

.copyright {
    color:#CCFF33;
    font-family:'Work Sans', Arial, Helvetica, sans-serif; 
    font-size:22px;
    display:flex;
    flex-direction:column;
    justify-content: flex-end;
}
//EXPERIMENTAL CSS
@keyframes beat {

    from {
        transform:scale(1); 
    }
    to {
        transform:scale(5); 
    }
}
button.vine-button {
    animation: beat 3s ease-in-out infinite;
    transform-origin: center;
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

button.vine-button::before,
button.vine-button::after {
    content: "";
    position: absolute;
    width: 110%;
    height: 100%;
    background-image: url('../images/shrubE.png');
    /* Replace with your vine image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

button.vine-button::before {
    top: 0;
    left: 0;
    transform: scale(0.8);
}

button.vine-button::after {
    bottom: 0;
    right: 0;
    transform: scale(0.8) rotate(180deg);
}

button.vine-button:hover::before,
button.vine-button:hover::after {
    opacity: 0;
}



.animated-title {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1s, transform 1s;
}

.animated-list {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s, transform 1s;
}

.serBox {
    display: flex;
    flex-direction: column;
}

.in-view .animated-title {
    opacity: 1;
    transform: translateX(0);
}

.in-view .animated-list {
    opacity: 1;
    transform: translateY(0);
}

#contactCont {
    position: relative;
    overflow: hidden;
    /* Hide the overflow to prevent the image from showing initially */
}

.fade-image {
    pointer-events: none;
    margin:auto; 
    height:500px;
    width:400px; 
    overflow:visible;
    position: absolute;
    top: 15%;
    left: 35%;
    opacity: 1;
    scale:1.8; 
    /* Initially set opacity to 0 to make the image invisible */
    transition: opacity 1s ease;
    /* Add a smooth transition for opacity changes */
}

[anim="ripple"] {

    //  Customize effect by defining the following
    //  variables on the parent element 
    //  --ripple-background: white;
    //  --ripple-opacity: 0.3;  
    //  --ripple-duration: 600ms;      
    //  --ripple-easing: linear;

    position: relative;
    overflow: hidden;

    &:before {
        content: '';
        position: absolute;
        display: block;
        background: var(--ripple-background, white);
        border-radius: 50%;
        pointer-events: none;
        //  position and size 
        top: calc(var(--y) * 1px);
        left: calc(var(--x) * 1px);
        width: calc(var(--d) * 1px);
        height: calc(var(--d) * 1px);

        //  animated properties
        opacity: calc(var(--o, 1) * var(--ripple-opacity, 0.3));
        transition: calc(var(--t, 0) * var(--ripple-duration, 600ms)) var(--ripple-easing, linear);
        transform: translate(-50%, -50%) scale(var(--s, 1));
        transform-origin: center;
    }
}


// FORM BUTTON STYLING


#contact .click-button {

    --ripple-background: black;
    --ripple-opacity: 0.1;
    --ripple-duration: 600ms;
width: 100%;
    display: block;
    margin-top: 1em;
    padding: 24px;
    background: whitesmoke;
    color: black;
    text-decoration: none;
    border: 1px solid darken(whitesmoke, 10%);
    min-width: 200px;
    text-align: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    transition: background-color 300ms;

    &:hover {
        background-color: darken(whitesmoke, 3%);
    }
}

.rainbow {
   
    text-align:center;
    font-family:'Staatliches', 'Arial', sans-serif; 
    font-weight:bold;
    font-size:36px; 
    border:1px solid #006400;
    border-radius:15px; 
    --ripple-opacity: 1;
    --ripple-background: radial-gradient(circle at center, #ccff33, #a1e63a, #77cd41, #4da548, #006400c5, #21812198, #69cd692e, #c9ffc91c);
    --ripple-duration: 5s;
    --ripple-easing: cubic-bezier(0, .5, .5, 1);
    background-color: none;
    color: rgba(white, 0.7);

    transition: background-color 300ms, color 300ms;

    &:hover {
        background-color: none;
        color: rgba(white, 1);
    }
}
//OTHER BUTTON STYLING

//BUTTON PRIMARY
@keyframes shimmer {
    to {
        background-size: 100% 100%;
        box-shadow: -2px -2px 6px rgba(255, 227, 126, 0.5), 2px 2px 6px rgba(144, 148, 255, 0.5);
    }
}
a button.tBtn {
  animation: 1.5s ease infinite alternate running shimmer;
  background: linear-gradient(90deg, #ccff33 0%, #77cd41 30%, #006400c5 85%);
  background-size: 200% 100%;
  border: none;
    border-radius: 6px;
  box-shadow: -2px -2px 10px rgba(255, 227, 126, 0.5), 2px 2px 10px rgba(144, 148, 255, 0.5);
  color: #000000;
  cursor: pointer;
    font-family: 'Staatliches';
  font-size: 22px;
  overflow: hidden;
  padding: 10px 20px;
  position: relative;
  text-decoration: none;
  transition: 0.2s;
  
  svg {
    left: -20px;
    opacity: 0.5;
    position: absolute;
    top: -2px;
    transition: 0.5s cubic-bezier(.5,-0.5,.5,1.5);
  }
  
  &:hover svg {
    opacity: 0.8;
    transform: translateX(50px) scale(1.5);
  }
  
  &:hover {
    transform: rotate(-3deg);
  }
  
  &:active {
    transform: scale(0.95) rotate(-3deg);
  }

}


/*







DASHBOARD STYLING





*/
.authOps {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    width:12.5%; 
}
.authOps a {
    margin-top:7.5px; 
}
.postOps {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
.postOps form button {
    background:none; 
    font-size:26px;
    border:none; 
    transition:0.2s ease-in-out; 
    &:hover {
        color:red;

    }
}
#dashboard {
    width:80%;
    margin:100px auto; 
}
#dashboard h1 {
    font-family: 'Staatliches', sans-serif;
    color:#006400; 
}
#dashboard img {
    height:150px; 
    width:150px; 
}
.dHeader {
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    background:#006400;
    box-shadow: 0 0 10px #CCFF33;
}
.dashBody {
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    width:100%; 
    margin:25px auto; 
}
.postBox {
    padding: 20px 0; 
    display:flex;
    flex-direction:row; 
    justify-content: space-evenly;
    border-bottom:2px solid rgba(73, 73, 73, 0.621);
    
}

.pInfo * {
    font-family: 'Work Sans', sans-serif;
}
//SECONDARY BUTTON

/*





POST STYLING






*/
#articleContainer h1 {
    color:#006400;
    font-family:'Staatliches', sans-serif; 
}
#articleContainer h4 {
    color:#006400;
    font-family:'Staatliches', sans-serif; 
}
#articleContainer h6, #articleContainer p {
    font-family:'Work Sans', sans-serif;
    color:rgb(34, 34, 34); 
}
#articleContainer img {
    height:auto; 
    max-width:475px; 
    border-radius:15px; 
   
}
#articleContainer {
    width:80%;
    margin:75px auto; 
  
}
.aBox {
    display:flex;
    flex-direction:row;
    justify-content: space-evenly; 
}
.aInfo * {
    padding:5px 20px;
}
/*



CREATE PAGE STYLING


*/
#fContainer {
    margin:90px 20%; 
}
#fContainer .back {
    margin-left:20%; 
}


/*




MEDIA QUERIES




*/
@media only screen and (max-width:1100px){
    .aBox {
    display:flex;
    flex-direction:column-reverse; 
    justify-content: flex-start;
   }
    #articleContainer {
    margin:10px auto; 
   }
   #articleContainer img {
    margin:auto; 

   }
   .aImg {
    margin-top:40px; 
   }
   #articleContainer .tBtn {
    width:25%; 
    margin:auto; 
   }

}
@media only screen and (max-width:825px) {
    .socials {
        display:flex;
        flex-direction:row-reverse;
        width:25%; 
        padding:0; 
    }
   .sRow {
        display:flex;
        color:black; 
        flex-direction:column; 
        padding:10px;
   }
   .fade-image {
        height: 450px;
        width: 350px;
        overflow: visible;
        position: absolute;
        top: 12.5%;
        left: 25%;
        opacity: 1;
        scale: 1.8;
   }
   .sRow button.tBtn {
        width:100%; 
        font-size:16px; 
   }
   .icons {
        margin-bottom:-8px; 
        padding:0; 
   }
   .title img {
    height:192px;
    width:192px; 
   }
   .title h1, #footer h1 {
    font-size:48px; 
   }
   #header, #footer {
    height:160px; 
   }
    .animated-list li {
        font-size:16px !important; 
   }
   #serviceCont h1 {
        font-size:52px; 
   }
}
@media only screen and (max-width:675px) {
    .fade-image {
        height: 400px;
        width: 300px;
        overflow: visible;
        position: absolute;
        top: 10%;
        left: 22.5%;
        opacity: 1;
        scale: 1.8;
    }
}
@media only screen and (max-width:600px) {
    .socials {
        display: flex;
        flex-direction: row-reverse;
        width: 25%;
        padding: 0;
    }

    .sRow {
        display: flex;
        color: black;
        flex-direction: column;
        padding: 5px;

    }

    .icons {
       font-size:38px; 
    }

    .title img {
        height: 160px;
        width: 160px;
    }

    .title h1 {
        font-size: 36px;
    }

    #header, #footer {
        height: 140px;
    }
    .slideshow {
        display:flex;
        flex-direction:column; 
   }
   .slideBox {
    width:100%;
    margin-top:25px; 
   }
   .before-after {
    display:none; 
   }
   .testimonials h3 {
    font-size:18px;    
   }
   .animated-list li {
       font-size: 12px !important;
   }

   #serviceCont h1 {
       font-size: 42px;
   }
   #serviceCont {
    padding:0;
    margin:0; 
    text-align:center; 
   }

   .postBox {
    display:flex;
    flex-direction:column; 
   }
   .postBox img {
    margin:auto; 
   }
   .aInfo h1 {
    font-size:32px; 
   }
   #articleContainer img {
        max-width:100%;
        height:auto;
   }

}
@media only screen and (max-width:550px) {
    #contactCont form {
        width:325px;
        margin:25px auto; 
    }
    label {
        font-size:18px;
    }
    input {
        padding:7px; 
    }
}
@media only screen and (max-width:520px) {
    .title img {
        display:none; 
    }
    .title h1, #footer h1{
        font-size:34px;
        margin: 30px 0 0 -20px; 
    }
    #header, #footer {
        height:120px; 
    }
   .cta h1 {
        font-size:26px;
   }
   .cta h3 {
    font-size:22px; 
   }
   .copyright {
    display:none; 
   }


}